.venv/
__pycache__/
*.pyc
*.pyo
*.pyd


target/
logs/
dbt_packages/
dbt_modules/



manifest.json
run_results.json
partial_parse.msgpack
graph_summary.json
graph.gpickle
semantic_manifest.json


profiles.yml
.env
*.env

